@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-secondary: var(--font-lato); /* Variable para la fuente secundaria */
  /* Colores de la App */
  --color-main-background: #E1EEFF;
  --color-primary-text: #023579;
  --color-dark-text: #000814;
  --color-white-text: #EFF1F0;
  --color-primary-button: #285ED1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E1EEFF;
    --foreground: #000814;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Aplicar la fuente principal al body */
}